<header>
    <nav class="navbar navbar-light bg-light">
      <!-- Logo + Marca-->

      <div class="container-6">
        <a class="navbar-brand" href="#">
          <img
            src="assets/img/arg-programa.png"
            alt=""
            width="150"
            class="d-inline-block align-text-top"
          />
        </a>
      </div>

      <!-- Boton de Login + Redes sociales -->
      <div class="container-6">
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link" target="_blank" href="https://www.facebook.com/micaelgaldos">
              <img src="assets/img/icono_facebook.png" alt="Link a Facebook" width="30"
            /></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" target="_blank" href="https://www.linkedin.com/in/micael-galdos-4798971a9/">
              <img src="assets/img/linkedin.png" alt="Link a instagram" width="30"
            /></a>
          </li>
          <li class="nav-item">
            <a class="btn btn-dark btn-st" href="/iniciar-sesion" role="button">Login</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Banner -->
    <img src="assets/img/Banner2.jpg" class="img-fluid" alt="Banner" />
  </header>