<div class="container-fluid mt-5">
    <div class="row ms-3 me-3 border-top border-bottom border-2 rounded-3 shadow">
      <div class="col-md-2 ">
        <div class="card border-0 pt-2 text-center">
          <img src="assets/img/perfil2.jpg" class="card-img-top rounded-pill border border-5" alt="Imagen perfil">
          <div class="card-body">
            <h2 class="card-title">Micael Galdos</h2>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut eos cupiditate mollitia omnis dolorem provident impedit tempora numquam a ullam odit commodi officia officiis facere, iure nobis ad. Rem, similique.</p>
          </div>
        </div> 
      </div>

      <div class="col-md-10 align-self-center">
        <h2>Información Profesional</h2>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          Accusantium odio distinctio vel quia quaerat assumenda, ipsa neque
          minima deserunt, iure, est dolores quibusdam! Ipsam, dolorem amet
          itaque quia assumenda sapiente.
        </p>
      </div>
    </div>
  </div>
  
