<div class="container-fluid mt-5 mb-5">
    <div class="container-fluid text-center">
      <h2>Proyectos</h2>
    </div>
    
   <div class="row align-items-center ms-3 me-3 mt-3 border-top border-bottom border-2 rounded-3 shadow">
    <div class="col-2 p-2">
      <a href="#">
        <img src="assets/img/img1.jpg" class="img-thumbnail border border-5" alt="Imagen de proyecto" width="200" height="auto">
      </a>
    </div>  

    <div class = "col pt-2">
      <h3>Nombre del proyecto 1</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore
          explicabo earum aperiam, quisquam ex, eveniet aut sint animi
          repellendus reprehenderit amet rem obcaecati repellat cum dolor.
          Nesciunt autem tenetur iusto?
        </p>
      </div>
    </div>

   </div> 
